
@tailwind components;

@layer components {
    .my-button {
        @apply px-2.5 py-1 rounded-md transition duration-300 ease-in-out
               font-semibold text-base cursor-pointer outline-none;
    }
    .my-button-icon {
        @apply flex items-center justify-center px-1 py-1;
    }
    .my-button-disabled {
        @apply bg-gray-300 text-gray-500 cursor-default;
    }
    .my-button-primary {
        @apply bg-primary text-white
               hover:bg-primary-hover hover:text-white;
    }
    .my-button-danger {
        @apply bg-red-500 text-white
               hover:bg-red-600 hover:text-white;
    }
    .my-button-outline {
        @apply bg-white text-primary border-2 border-primary
               hover:bg-primary hover:text-white;
    }
    .my-button-subtle {
        @apply bg-primary-subtle text-primary
               hover:bg-primary hover:text-white;
    }
    .my-button-secondary {
        @apply bg-gray-200 text-text
               hover:bg-gray-300;
    }
    .my-button-outline-secondary {
        @apply bg-white text-title border-2 border-subtitle
               hover:bg-disable-light
    }

    .selected-item-stack-button {
        @apply h-4 w-1 bg-primary rounded-full transform  transition-transform duration-300;
    }

    .page-btn {
        @apply px-3.5 py-2 flex justify-center items-center text-sm
        rounded-md transition duration-300 ease-in-out cursor-pointer
        hover:bg-primary-subtle;
    }
    .page-btn-active {
        @apply !bg-primary text-white font-semibold;
    }
}