@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Quicksand';
    src: url('./assets/fonts/Quicksand.woff2') format('woff2'),
        url('./assets/fonts/Quicksand.woff') format('woff');
}

:root {
    --primary-color: #0D6EFD;
    --primary-hover-color: #045adb;
    --primary-subtle-color: #CFE2FF;
    --secondary-subtle-color: #DEE2E6;

    --disable-light-color: #E9ECEF;
    --border-color: #DEE2E6;

    --title-color: #222222;
    --subtitle-color: #878787;
    --text-color: #444444;

    --background-color: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Trebuchet MS', 'Arial', sans-serif;
    font-weight: 500;
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.loader {
    width: 32px;
    aspect-ratio: 2;
    --dot: no-repeat radial-gradient(circle closest-side, var(--subtitle-color) 85%, transparent);
    background:
        var(--dot) 0% 50%,
        var(--dot) 50% 50%,
        var(--dot) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: loader-animation 1s infinite linear;
}

@keyframes loader-animation {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%
    }
}

.loader-2 {
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid var(--primary-subtle-color);
    border-right-color: var(--primary-color);
    animation: loader-animation-2 1s infinite linear;
}

@keyframes loader-animation-2 {
    to {
        transform: rotate(1turn)
    }
}